/*--======================= FORMATAÇÕES GERAIS =======================--*/

* {
    margin: 0;
    font-family: 'Changa', sans-serif;
}

body {
    background-color: #000000;
    color: rgb(212, 212, 212);
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #000;
}

body::-webkit-scrollbar-thumb {
    width: 10px;
    height: 5px;
    border-radius: 20px;
    background-color: rgb(196, 196, 196);
}

#container {
    display: flex;
    background-color: #222222;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px auto 20px auto;
    border-radius: 10px;
    padding: 0;

    width: 88%;

    border-right: 0;
    animation: troca-cor-container 3s infinite ease-in-out;
}

/*--================= FORMATAÇÕES BARRA DE NAVEGAÇÃO  =======================--*/

nav {
    background-color: #1C1C1C;
    top: 0;
    width: 100%;
    height: 80px;
    border-bottom-left-radius: 10px;
    margin-bottom: 25px;
    animation: troca-cor-nav 3s infinite ease-in-out;
}

#logo {
    background-image: url(/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 100%;
    border-bottom-left-radius: 10px;
}

#logo p {
    font-size: 22px;
}

#menu {
    float: right;
}

#menu ul {
    margin: 18px;
    margin-right: 40px;
}

#menu li {
    list-style: none;
    display: inline;
    font-size: 1.5em;
    padding: 15px;
}

#menu a {
    text-decoration: none;
    color: rgb(212, 212, 212);
    padding: 5px 15px;
}

#menu a:hover {
    background-color: #6d1919;
    border-radius: 3px;
}

/*--======================= FORMATAÇÕES TOPO =======================--*/
header {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}


header>h2 {
    margin-top: 20px;
    font-size: 3em;
}
header h1{
    font-weight: 200;
}

header h1,
h2 {
    margin: auto;
    animation: header 3s infinite ease-in-out;
}

/*--===================== FORMATAÇÕES LAYOUT PRINCIPAL ===================--*/

#main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #222222;
    min-height: 100vh;
}

main:last-child {
    margin-bottom: 40px;
}

#apresentacao {
    width: 900px;
    height: 400px;
    background-color: #6d1919;
    margin: 20px auto;
    border-radius: 10px;
}

#apresentacao h1 {
    text-align: center;
}

#apresentacao p {
    margin: 20px 40px;
}

.secao-principal {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.teste {
    width: 450px;
    height: 450px;
    margin: 50px auto;
    padding: 0;
}

#container a {
    margin: auto;
}

/*--- MAIN --*/
main {
    background-color: rgb(68, 30, 51);
    width: 900px;
    min-height: 400px;
    margin: auto;
    border-radius: 10px;
}

main p {
    margin: 20px 40px;
    font-size: 1.3em;
}

main h1 {
    /*background-color: rgb(80, 34, 59);*/
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/*--- SEÇÃO 1 --*/
.icons {
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 290px;
}

.icon1 {
    width: 64px;
    height: 64px;
    background-image: url(/images/icons/html-5.png);
    animation: icon1 3s infinite ease;

}

.icon2 {
    width: 64px;
    height: 64px;
    background-image: url(/images/icons/css-3.png);
    animation: icon2 3s infinite ease;
}

.icon3 {
    width: 64px;
    height: 64px;
    background-image: url(/images/icons/js.png);
    animation: icon3 3s infinite ease;
}

.secao1 {
    width: 1200px;
    min-height: 680px;
    background-color: #1C1C1C;
    padding-bottom: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.secao1>h3 {
    width: 100%;
    height: 70px;
    font-size: 2em;
    text-align: center;
    margin: 40px 0;
}

.projeto a {
    text-decoration: none;
}

/*--- CARDS --*/
.card-exp {
    width: 500px;
    height: 500px;
    margin: -20px 100px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(0, 17, 255, 0.24);
    /*animation:  troca-cor-card1 10s infinite ease-in-out;*/

}

.card-hab {
    width: 500px;
    height: 500px;
    margin: -20px 100px;
    padding: 20px;
    border-radius: 15px;
    float: right;
    clear: right;
    background-color: rgba(255, 0, 140, 0.24);
    /*   animation:  troca-cor-card2 10s infinite ease-in-out;*/
}

.card-hab h4 {
    font-size: 1.5em;
    text-align: center;
}

.card-exp h4 {
    font-size: 1.5em;
    text-align: center;
}
.card-hab p{
    margin-top: 10px;
    font-size: 1.3em;
}
.card-exp p{
    margin-top: 10px;
    font-size: 1.3em;
}

/*--- SEÇÃO 2 --*/
.content {
    display: block;
    width: 100%;
}

.secao2 {
    width: 100%;
    min-height: 680px;
    background-color: #222222;
    padding-bottom: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.secao2>h3 {
    width: 100%;
    text-align: center;
    margin: 40px 0;
    height: 70px;
    font-size: 2em;
}

/*--- PROJETOS --*/

.projeto1 {
    background-image: url(images/print-dc.png);
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 98%;
    height: 720px;
    margin: 20px auto;
    border-radius: 15px;
}


.projeto1 p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    margin-top: 740px;
    width: 34%;
    height: 50px;
    background-color: azure;
    color: #000;
    transition: 0.25s;
    border-radius: 10px;
    font-size: 1.25em;
    font-weight: bolder;
}

.projeto1 p:hover {
    background-color: #222222;
    color: white;
}

.projeto1 a {
    text-decoration: none;
}

.projeto1 a:hover {
    background-color: #1C1C1C;
    color: white;
}

.detalhes-projeto{
    background-color: rgba(0, 17, 255, 0.24);
    width: 50%;
    margin: auto;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
}
.detalhes-projeto p{
    margin: 20px;
    
}
.botao{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
}
.detalhes-projeto h3{
    text-align: center;
}
.botao button{
    width: 50%;
    margin: auto 25%;
    border-radius: 10px;
    border: 0;
    background-color: rgba(255, 0, 140, 0.9);
    color: whitesmoke;
    transition: 0.5s;
    margin-bottom: 5px;
}

.botao button:hover{
    cursor: pointer;
    background-color: rgba(0, 17, 255, 0.9);
    color: whitesmoke;
}
#show-details{
    display: none;
}
.fixed{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*----*/
.projeto2 {
    display: none;
    background-image: url(/images/loading.gif);
    background-size: contain;
    background-color: #1C1C1C;
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 250px;
    max-width: 500px;
    height: 253px;
    margin: 20px auto;
    border-radius: 15px;
}

.projeto2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 240px;
    width: 100%;
    height: 50px;
    background-color: azure;
    color: #000;
    transition: 0.25s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    font-size: 1.25em;
    font-weight: bolder;
}

.projeto2 p:hover {
    background-color: #222222;
    color: white;
}

.projeto2 a {
    text-decoration: none;
}

.projeto2 a:hover {
    background-color: black;
    color: white;
}

/*--===================== FORMATAÇÕES LAYOUT PRINCIPAL ===================--*/

.rodape {
    height: 100px;
    background-color: #1C1C1C;
    text-align: center;
    padding-top: 20px;
}

/*--========================== IMAGENS =========================--*/
.woman-rosa-512 {
    background-image: url(images/001-mulher-rosa-512.png);
    background-repeat: no-repeat;
    transition: 1s;

}

.woman-azul-512 {
    background-image: url(images/002-mulher-azul-512.png);
    background-repeat: no-repeat;

    transition: 1s;
}

.woman-azul-512:hover {
    background-image: url(images/001-mulher-rosa-512.png);
    transition: 1s;
    transform: rotateX(-20deg)
}

/*--========================== KEYFRAMES =========================--*/


@keyframes troca-imagem {
    0% {
        background-image: url(images/001-mulher-rosa-512.png);
        transform: translateY(10px);
    }

    50% {
        background-image: url(images/002-mulher-azul-512.png);
        transform: translateY(-10px);
    }

    100% {
        background-image: url(images/001-mulher-rosa-512.png);
        transform: translateY(10px);
    }
}

@keyframes troca-imagem-rodape {
    0% {
        background-image: url(images/icons/001-mulher-rosa-icon-32.png);
    }

    50% {
        background-image: url(images/icons/002-mulher-azul-icon-32.png);
    }

    100% {
        background-image: url(images/icons/001-mulher-rosa-icon-32.png);
    }
}

@keyframes troca-cor-container {
    0% {
        box-shadow: 0 0 25px rgba(255, 0, 140, 0.9);
    }

    50% {
        box-shadow: 0 0 25px rgba(0, 17, 255, 0.9);
    }

    100% {
        box-shadow: 0 0 25px rgba(255, 0, 140, 0.9);
    }
}

@keyframes troca-cor-nav {
    0% {
        box-shadow: 0 0 20px rgba(255, 0, 140, 0.9);
    }

    50% {
        box-shadow: 0 0 20px rgba(0, 17, 255, 0.9);
    }

    100% {
        box-shadow: 0 0 20px rgba(255, 0, 140, 0.9);
    }
}

@keyframes troca-cor-card1 {
    0% {
        background-color: rgba(255, 0, 140, 0.24);
    }

    50% {
        background-color: rgba(0, 17, 255, 0.24);
    }

    100% {
        background-color: rgba(255, 0, 140, 0.24);
    }

}

@keyframes troca-cor-card2 {
    0% {
        background-color: rgba(0, 17, 255, 0.24);
    }

    50% {
        background-color: rgba(255, 0, 140, 0.24);
    }

    100% {
        background-color: rgba(0, 17, 255, 0.24);
    }
}

@keyframes icon2 {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes icon1 {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

@keyframes icon3 {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

@keyframes header {
    0% {
        text-shadow: 0px 4px 10px rgba(255, 0, 140, 0.9);
    }

    50% {
        text-shadow: 0px 4px 10px rgba(0, 17, 255, 0.9);
    }

    100% {
        text-shadow: 0px 4px 10px rgba(255, 0, 140, 0.9);
    }
}

/*--========================== ANIMAÇÕES =========================--*/

.animacao {
    background-image: url(images/002-mulher-azul-512.png);
    background-size: contain;
    animation: troca-imagem 3s infinite ease-in-out;
}

.animacao-rodape {
    background-image: url(images/icons/002-mulher-azul-icon-32.png);
    animation: troca-imagem-rodape 3s infinite ease-in-out;
}

/*--========================== RODAPE ==========================--*/

.rodape {
    display: flex;
    justify-content: center;
    position: relative;
    clear: both;
}

.teste2 {
    height: 32px;
    width: 32px;
}

.rodape a {
    margin-left: 10px;
    width: 32px;
    height: 32px;
    text-decoration: none;
}

.rodape p {
    position: absolute;
    bottom: 1px;
}